<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>BankManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.bankmanagement.deepu.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlets</display-name>
    <servlet-name>SignUpServlets</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.SignUpServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlets</servlet-name>
    <url-pattern>/SignUpServlets</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoneyTransferServlet</display-name>
    <servlet-name>MoneyTransferServlet</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.MoneyTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoneyTransferServlet</servlet-name>
    <url-pattern>/MoneyTransferServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminSignInServlet</display-name>
    <servlet-name>AdminSignInServlet</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.AdminSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminSignInServlet</servlet-name>
    <url-pattern>/AdminSignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminViewStatement</display-name>
    <servlet-name>AdminViewStatement</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.AdminViewStatement</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminViewStatement</servlet-name>
    <url-pattern>/AdminViewStatement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminChangesServlet</display-name>
    <servlet-name>AdminChangesServlet</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.AdminChangesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminChangesServlet</servlet-name>
    <url-pattern>/AdminChangesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ClientRequestServlet</display-name>
    <servlet-name>ClientRequestServlet</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.ClientRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ClientRequestServlet</servlet-name>
    <url-pattern>/ClientRequestServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminLogoutServlet</display-name>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <servlet-class>com.bankmanagement.deepu.servlet.AdminLogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLogoutServlet</servlet-name>
    <url-pattern>/AdminLogoutServlet</url-pattern>
  </servlet-mapping>
</web-app>